<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="root" href="/admin" class="nav-link px-2 text-secondary">회사정보 및 요구역량</a></li>
                    <li><a id="requiredability" href="/admin/requiredability" class="nav-link px-2 text-secondary">요구역량 묶기</a></li>
                    <li><a id="companyInfo" href="/admin/companyInfo" class="nav-link px-2 text-secondary">로드맵 생성</a></li>
                    <li><a id="item" href="/admin/item" class="nav-link px-2 text-secondary">영상 & 책</a></li>
                </ul>
                <div class="text-end">
                    <a role="button" id="logout" class="btn btn-outline-light me-2">Logout(안됨)</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>