<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header id="header" th:replace="~{common/header :: header}"></header>

<div class="container my-5">
    <h2 class="text-center" style="margin-bottom: 40px; font-weight: bold;">채용공고 추가</h2>
    <div class="form-group row mb-3">
        <label for="companySelect" class="col-sm-2 col-form-label">회사</label>
        <div class="col-sm-4">
            <select class="form-control" id="companySelect">
                <option value="">회사 선택</option>
                <th:block th:each="company : ${neededToMakeCompanyInfo.allCompanyList}">
                    <option th:value="${company.id}" th:text="${company.name}">회사명</option>
                </th:block>
                <option value="0">기타</option>
            </select>
        </div>
        <div class="col-sm-6 d-none" id="otherCompany">
            <input type="text" class="form-control" id="otherCompanyInput" placeholder="회사를 입력해주세요.">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="jobSelect" class="col-sm-2 col-form-label">직무</label>
        <div class="col-sm-4">
            <select class="form-control" id="jobSelect">
                <option value="">직무 선택</option>
                <th:block th:each="job : ${neededToMakeCompanyInfo.allJobList}">
                    <option th:value="${job.id}" th:text="${job.name}">회사명</option>
                </th:block>
            </select>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="detailedPositionSelect" class="col-sm-2 col-form-label">상세직무</label>
        <div class="col-sm-4">
            <select class="form-control" id="detailedPositionSelect">
                <option value="">상세직무 선택</option>
            </select>
        </div>
        <div class="col-sm-6 d-none" id="otherDetailedPosition">
            <input type="text" class="form-control" id="otherDetailedPositionInput" placeholder="상세 직무를 입력해주세요.">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="detailedPositionSelect" class="col-sm-2 col-form-label">채용 URL</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="companyInfoUrl" placeholder="채용정보 URL을 넣어주세요">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="detailedPositionSelect" class="col-sm-2 col-form-label">채용스킬</label>
        <div class="col">
            <textarea type="text" id="requiredSkillTextarea" class="form-control" placeholder="채용스킬 ,로 구분" style="height: 200px; width: 100%;"></textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-sm-8" style="margin-top: 20px; width: 100%; text-align: right; ">
            <button id="registerCompanyInfoBtn" class="btn btn-primary btn-lg btn-block" style="width: 200px;">등록</button>
        </div>
    </div>

</div>

<script th:inline="javascript">
    const companyList = [[${neededToMakeCompanyInfo.allCompanyList}]];
</script>

<script>
    const toggleInputField = (selectBoxId, inputFieldId) => {
        const selectBox = document.getElementById(selectBoxId);
        const inputField = document.getElementById(inputFieldId);

        selectBox.addEventListener('change', function () {
            if (this.value === '0') {
                inputField.classList.remove('d-none');
            } else {
                inputField.classList.add('d-none');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        function updateDetailedPositions(companyId) {
            const detailedPositionSelect = document.getElementById('detailedPositionSelect');
            const otherDetailedPosition = document.getElementById('otherDetailedPosition');

            detailedPositionSelect.innerHTML = '<option value="">상세직무 선택</option>'; // 초기화
            otherDetailedPosition.classList.add('d-none');

            const company = companyList.find(c => c.id.toString() === companyId);

            if(company && company.detailedPositionDtoList) {
                company.detailedPositionDtoList.forEach(function(detailPosition) {
                    const option = document.createElement('option');
                    option.value = detailPosition.id;
                    option.textContent = detailPosition.name;
                    detailedPositionSelect.appendChild(option);
                });
            }

            if (companyId !== '') {
                const otherOption = document.createElement('option');
                otherOption.value = '0';
                otherOption.textContent = '기타';
                detailedPositionSelect.appendChild(otherOption);
            }
        }

        const companySelect = document.getElementById('companySelect');
        companySelect.addEventListener('change', function() {
            updateDetailedPositions(this.value);
            toggleInputField('companySelect', 'otherCompany');
        });

        // 기타를 위한 기존 함수를 유지합니다.
        toggleInputField('companySelect', 'otherCompany');
        toggleInputField('detailedPositionSelect', 'otherDetailedPosition');
    });

    const registerCompanyInfoBtn = document.getElementById("registerCompanyInfoBtn");

    const checkEmptyValue = (value, message) => {
        if(!value) {
            alert(message);
            return false;
        }
        return true;
    }

    function getSelectedJobText(selectElementId) {
        var selectElement = document.getElementById(selectElementId);
        if (selectElement.selectedIndex == -1)
            return null;
        return selectElement.options[selectElement.selectedIndex].text;
    }

    const registerCompanyInfoFetch = async () => {
        const companySelect = document.getElementById('companySelect');
        const jobSelect = document.getElementById('jobSelect');
        const detailedPositionSelect = document.getElementById('detailedPositionSelect');
        const otherCompanyInput = document.getElementById('otherCompanyInput');
        const otherDetailedPositionInput = document.getElementById('otherDetailedPositionInput');
        const companyInfoUrl = document.getElementById('companyInfoUrl');
        const requiredSkillTextarea = document.getElementById('requiredSkillTextarea');

        // 빈값 체크
        if(!checkEmptyValue(companySelect.value, '회사명을 선택해주세요.')) return;
        if(companySelect.value === '0' && !checkEmptyValue(otherCompanyInput.value, '회사명을 입력해주세요.')) return;
        if(!checkEmptyValue(jobSelect.value, '직무명을 선택해주세요.')) return;
        if(!checkEmptyValue(detailedPositionSelect.value, '상세직무명을 선택해주세요.')) return;
        if(detailedPositionSelect.value === '0' && !checkEmptyValue(otherDetailedPositionInput.value, '상세직무명을 입력해주세요.')) return;

        let data = {
            companyName: companySelect.value === '0' ? otherCompanyInput.value : companySelect.options[companySelect.selectedIndex].text,
            jobName: jobSelect.options[jobSelect.selectedIndex].text,
            detailedPositionName: detailedPositionSelect.value === '0' ? otherDetailedPositionInput.value : detailedPositionSelect.options[detailedPositionSelect.selectedIndex].text,
            companyInfoUrl: companyInfoUrl.value,
            companyRequiredAbilityList: requiredSkillTextarea.value ? requiredSkillTextarea.value.split(',').map(skill => skill.trim()) : [],
        };

        try {
            const response = await fetch('/admin/recruitmentinfo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if(response.status === 201) {
                alert("채용공고 등록 성공")
                location.reload();
            } else {
                alert("채용공고 등록에 실패했습니다.");
            }
        } catch (error) {
            alert("채용공고 등록에 실패했습니다.");
            console.error(error);
        }
    }

    registerCompanyInfoBtn.addEventListener('click', registerCompanyInfoFetch);
</script>

</body>
</html>