<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영상 & 책</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header id="header" th:replace="~{/common/header :: header}"></header>

    <div style="width: 100vw; display: flex; align-items: center; flex-wrap: wrap">
        <div th:each="courseDetail : ${courseDetailList}" style="padding: 20px;border:solid 1px #ccc; min-width: 25%; text-align: center;">
            <a th:href="@{/admin/item/{id}(id=${courseDetail.id})}" th:text="${courseDetail.name}"></a>
        </div>
    </div>

</body>
</html>