<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="root" href="/admin" class="nav-link px-2 text-secondary">채용공고 등록</a></li>
                    <li><a id="requiredability" href="/admin/requiredability" class="nav-link px-2 text-secondary">요구역량 리스트</a></li>
                    <li><a id="item" href="/admin/item" class="nav-link px-2 text-secondary">영상 & 책 관리</a></li>
                </ul>
                <div class="text-end">
                    <form action="/admin/logout" method="post">
                        <button type="submit" id="logout" class="btn btn-outline-light me-2">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
</body>
</html>