<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회사 정보 리스트</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>
<body>
    <ul style="display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-bottom: 50px;">
        <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
            <a href="/admin">
                회사정보 및 요구역량
            </a>
        </li>
        <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
            <a href="/admin/course">
                코스
            </a>
        </li>
        <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
            <a href="/admin/requiredability">
                요구역량 묶기
            </a>
        </li>
        <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc; color: red; font-weight: bold;">로드맵 생성</li>
        <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
            <a href="/admin/video">
                영상
            </a>
        </li>
    </ul>

    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 30px;">
        <h2 style="font-size: 30px; font-weight: bold;" th:text="로드맵_생성기"></h2>
    </div>

    <div style="width: 100vw; display: flex; align-items: center; justify-content: center;">
        <div>
            <p>- 회사 요구역량에 course_detail_id가 빈값이나 null이면 로드맵에 추가안됨 </p>
            <div style="margin: 20px 0; padding: 15px; border: solid 5px #ccc; display: flex; align-items: center; justify-content: space-around">
                <button id="createBtn">로드맵 생성</button>
            </div>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                <tr>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 200px;">회사</th>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 200px;">직무</th>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 200px;">상세 직무</th>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 100px;">비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="companyInfo : ${companyInfoList}">
                    <td style="border: 1px solid #ccc; padding: 5px; width: 200px;" th:text="${companyInfo.companyName}"></td>
                    <td style="border: 1px solid #ccc; padding: 5px; width: 200px;" th:text="${companyInfo.jobName}"></td>
                    <td style="border: 1px solid #ccc; padding: 5px; width: 200px;" th:text="${companyInfo.detailedPositionName}"></td>
                    <td style="border: 1px solid #ccc; padding: 5px; width: 200px;"
                        th:text="${companyInfo.roadmapId != null} ? '있음' : '없음'"
                        th:classappend="${companyInfo.roadmapId != null} ? 'green-text' : 'red-text'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const createBtn = document.getElementById('createBtn');
        createBtn.addEventListener("click", async () => {
            if(confirm("로드맵이 없는 회사정보에 로드맵을 만드시겠습니까?")) {
                const response = await fetch("/admin/api/companyInfo", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                });
                if(response.status === 200) {
                    alert("만들기 성공");
                    location.reload();
                } else {
                    alert("만들기 실패")
                }
            }
        })

    </script>
</body>
</html>