<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코스 상세 리스트</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
</head>
<body>
<ul style="display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-bottom: 50px;">
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin">
            회사정보 및 요구역량
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc; color: red; font-weight: bold;">
        코스
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin/requiredability">
            요구역량 묶기
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin/companyInfo">
            로드맵 생성
        </a>
    </li>
</ul>
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 40px;">
        <button id="backBtn" th:data-jobid="${course.job.id}">코스로 돌아가기</button>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 30px;">
        <h2 style="font-size: 30px; font-weight: bold;" th:text="'코스 상세 - ' + ${course.name} + '(' + ${course.type} + ')'"></h2>
    </div>
    <div style="width: 100vw; display: flex; align-items: center; justify-content: center;">
        <div>
            <div style="margin: 20px 0; padding: 15px; border: solid 5px #ccc; display: flex; align-items: center; justify-content: space-around">
                <div><input id="newCourseDetailName" th:data-course-id="${course.id}" type="text" placeholder="코스 상세 이름" /></div>
                <button id="createBtn">등록</button>
            </div>
            <table style="border-collapse: collapse; width: 100%;">
                <thead>
                <tr>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 200px;">코스 상세 이름</th>
                    <th style="border: 1px solid #ccc; padding: 5px; width: 100px;">비고</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="courseDetail : ${courseDetailList}">
                    <td style="border: 1px solid #ccc; padding: 5px; width: 200px;"><input type="text" th:value="${courseDetail.name}"/></td>
                    <td style="border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; padding: 5px; width: 100px; display: flex; justify-content: center;">
                        <button class="editBtn" th:data-detail-id="${courseDetail.id}">수정</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const createBtn = document.getElementById("createBtn");
        createBtn.addEventListener("click", async () => {
            const newCourseDetailName = document.getElementById("newCourseDetailName");
            const courseId = newCourseDetailName.getAttribute("data-course-id");
            if(!newCourseDetailName.value) {
                alert("빈칸이 있습니다.");
                return;
            }

            if(confirm("등록하시겠습니까?")) {
                const response = await fetch("/admin/api/courseDetail", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        courseId: courseId,
                        name: newCourseDetailName.value,
                    }),
                });
                if(response.status === 200) {
                    alert("등록 성공");
                    location.reload();
                } else {
                    alert("등록 실패")
                }
            }
        });


        const backBtn = document.getElementById("backBtn");
        backBtn.addEventListener("click", (e) => {
            const jobId = e.currentTarget.getAttribute("data-jobid");
            location.href = "/admin/course?job=" + jobId;
        })
        const editBtns = document.querySelectorAll(".editBtn");
        for (let i = 0; i < editBtns.length; i++) {
            editBtns[i].addEventListener("click", (e) => {
                const selectedDom = e.currentTarget;
                const detailId = selectedDom.getAttribute("data-detail-id");
                const detailName = selectedDom.parentNode.parentNode.children[0].children[0].value;

                if(!detailName) {
                    alert("빈칸이 있습니다.");
                    return;
                }

                if(confirm("수정하시겠습니까?")) {
                    fetch("/admin/api/courseDetail", {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            id: detailId,
                            name: detailName
                        }),
                    }).then((response) => {
                        if(response.status === 200) {
                            alert("변경 성공");
                            location.reload();
                        } else {
                            alert("변경 실패");
                        }
                    })
                }
            })
        }
    </script>
</body>
</html>