<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코스 상세 리스트</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
</head>
<body>
<ul style="display: flex; align-items: center; justify-content: center; margin: 0 auto; margin-bottom: 50px;">
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin">
            회사정보 및 요구역량
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin/course">
            코스
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin/requiredability">
            요구역량 묶기
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc;">
        <a href="/admin/companyInfo">
            로드맵 생성
        </a>
    </li>
    <li style="padding: 10px 20px; width: 200px; height: 50px; border :solid 1px #ccc; color: red; font-weight: bold;">
        영상
    </li>
</ul>
    <div style="width: 100vw; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div th:each="course : ${courseList}" style="padding: 20px;">
            <a th:href="@{/admin/video/{jobId}/{id}(jobId=${jobId}, id=${course.id})}" th:text="${course.name}"></a>
        </div>
        </div>
    </div>

</body>
</html>