<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Login</h4>
                    <form action="#" th:action="@{/admin/login}" method="post">
                        <div class="form-group">
                            <label for="email">Username:</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const queryString = new URLSearchParams(window.location.search);
    const errorValue = queryString.get('error');
    if (errorValue) {
        if (errorValue === 'loginFail') alert('로그인 인증에 실패했습니다..');
        else if (errorValue === 'needLogin') alert("로그인이 필요합니다.")
        else if (errorValue === 'accessDenied') alert("권한이 없습니다.")
        const newURL = window.location.href.split('?')[0];
        window.location.href = newURL;
    }
</script>

</body>
</html>